# SpecStory explanation file
.specstory/
node_modules/
.env
.env.*
# SpecStory explanation file
.specstory/.what-is-this.md
.vercel
/dist
/build
/public/images
/public/videos
/public/audio
/public/documents
/.idea
комментарии и вопросы Данилу.txt