NEXT_PUBLIC_IGNORE_BUILD_ERROR=true

SUPABASE_PROJECT_ID=bzbpwmzhywaqwsjthwid
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q
SUPABASE_PROJECT_URL=https://api.supa.appbrainprogramming.ru

NEXT_PUBLIC_SUPABASE_URL=https://api.supa.appbrainprogramming.ru
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6YnB3bXpoeXdhcXdzanRod2lkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3NDczNjIsImV4cCI6MjA2MzMyMzM2Mn0.XJ02z2_UDCmT6Ap-bn64E2-KjmIBTDmV-3s3thQqaD0
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q

VITE_SUPABASE_URL=https://api.supa.appbrainprogramming.ru
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q

NEXT_PUBLIC_ALLOW_BROWSER_ACCESS=false 
NEXT_PUBLIC_CLOUDFLARE_TOKEN=BA2ct-12-_dudtNcxmxyrIiifyQ

VITE_CLOUDFLARE_R2_ACCOUNT_ID=5ba388bc205b958ebf4f3f4588fcc8aa
VITE_CLOUDFLARE_R2_ACCESS_KEY_ID=45af3ea74d634c6d708c4055113be2e0
VITE_CLOUDFLARE_R2_SECRET_ACCESS_KEY=41ec0f80d5c82841908f124347b99d02c28bf5f89d0834bc6730c39b7cde4501
VITE_CLOUDFLARE_R2_PUBLIC_URL=https://pub-77b01fa701e84f019ef02376a7fb67f1.r2.dev

VITE_ENABLE_FULLSCREEN=false

PORT=5188

VITE_TELEGRAM_BOT_NAME=nooweb_bot/bp_demo