NEXT_PUBLIC_IGNORE_BUILD_ERROR=true
SUPABASE_PROJECT_ID=your_project_id
SUPABASE_ANON_KEY=21.example_key
SUPABASE_PROJECT_URL=https://your_project_id.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://your_project_id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=12.example_key
SUPABASE_SERVICE_KEY=12.example_service_key
VITE_SUPABASE_URL=https://your_project_id.supabase.co
VITE_SUPABASE_ANON_KEY=12.example_key
NEXT_PUBLIC_ALLOW_BROWSER_ACCESS=true 

# CloudFlare R2 Storage
CLOUDFLARE_R2_ACCOUNT_ID=your_cloudflare_account_id
CLOUDFLARE_R2_ACCESS_KEY_ID=your_access_key_id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your_secret_access_key