NEXT_PUBLIC_IGNORE_BUILD_ERROR=true
SUPABASE_PROJECT_ID=your_project_id
SUPABASE_ANON_KEY=21.example_key
SUPABASE_PROJECT_URL=https://your_project_id.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://your_project_id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=12.example_key
SUPABASE_SERVICE_KEY=12.example_service_key
VITE_SUPABASE_URL=https://your_project_id.supabase.co
VITE_SUPABASE_ANON_KEY=12.example_key
NEXT_PUBLIC_ALLOW_BROWSER_ACCESS=true 

# Telegram Bot Configuration (префикс VITE_ обязателен для работы в браузере)
VITE_TELEGRAM_BOT_NAME=your_bot_name

VITE_ENABLE_FULLSCREEN=true

# PostgreSQL (для прямого подключения к твоей БД через SSH-туннель)
 # ssh -N -L 5433:localhost:5432 user@api.supa.appbrainprogramming.ru
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your-super-secret-and-long-postgres-password
DB_NAME=postgres
DB_PORT=5433 # <-- ВАЖНО: используем локальный порт туннеля